.BlockWithLinkGroup{
    display: flex;
}

.BlockWithLinkGroup>div>p{
    width: 100%;
}

@media (max-width: 1200px) {
    .BlockWithLinkGroup{
        display: flex;
        flex-flow: column;
    }
}

